{ns hl7-fhir-us-core.us-core-diagnosticreport-note,
 import #{zen.fhir
          hl7-fhir-us-core.us-core-practitioner
          hl7-fhir-r4-core.DiagnosticReport
          hl7-fhir-us-core.us-core-organization
          hl7-fhir-us-core.value-set.us-core-diagnosticreport-report-and-note-codes
          hl7-fhir-us-core.us-core-patient
          hl7-fhir-us-core.us-core-observation-clinical-test
          hl7-fhir-us-core.us-core-observation-lab
          hl7-fhir-r4-core.value-set.diagnostic-report-status
          hl7-fhir-us-core.us-core-careteam
          hl7-fhir-us-core.us-core-encounter
          hl7-fhir-us-core.us-core-practitionerrole
          hl7-fhir-us-core.us-core-observation-imaging},
 schema {:zen.fhir/version "0.6.7-4",
         :confirms #{hl7-fhir-r4-core.DiagnosticReport/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note",
         :require #{:category :subject},
         :type zen/map,
         :zen/desc "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for searching and fetching Diagnostic Reports and Notes using the DiagnosticReport resource. This profile identifies the mandatory core elements, extensions, vocabularies and value sets which **SHALL** be present in the DiagnosticReport when using this profile. It provides the floor for standards development for specific uses cases. Prior to reviewing this profile, implementers are encouraged to read the Clinical Notes Guidance to understand the overlap of US Core DiagnosticReport Profile for Report and Note exchange and US Core DocumentReference Profile.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {}},
                           :every {:fhir/flags #{:MS}},
                           :minItems 1},
                :encounter {:fhir/flags #{:MS},
                            :confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-encounter/schema}}},
                :status {:fhir/flags #{:MS},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.diagnostic-report-status/value-set,
                                              :strength :required}},
                :result {:type zen/vector,
                         :every {:fhir/flags #{:MS},
                                 :confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-observation-clinical-test/schema
                                                                hl7-fhir-us-core.us-core-observation-lab/schema
                                                                hl7-fhir-us-core.us-core-observation-imaging/schema}}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}},
                            :fhir/flags #{:MS},
                            :zen/desc "Diagnostically relevant time (typically the time of the procedure)"},
                :code {:fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-us-core.value-set.us-core-diagnosticreport-report-and-note-codes/value-set,
                                            :strength :extensible},
                       :zen/desc "US Core Report Code"},
                :issued {:fhir/flags #{:MS}},
                :presentedForm {:type zen/vector,
                                :every {:fhir/flags #{:MS}}},
                :media {:type zen/vector,
                        :every {:type zen/map,
                                :keys {:link {:fhir/flags #{:MS},
                                              :confirms #{zen.fhir/Reference},
                                              :zen.fhir/reference {:refers #{}}}},
                                :fhir/flags #{:MS}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-practitionerrole/schema
                                                                   hl7-fhir-us-core.us-core-organization/schema
                                                                   hl7-fhir-us-core.us-core-practitioner/schema
                                                                   hl7-fhir-us-core.us-core-careteam/schema}}}}},
         :zen.fhir/type "DiagnosticReport"}}
