{ns hl7-fhir-us-core.us-core-practitioner,
 import
 #{hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.ContactPoint
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.HumanName
   hl7-fhir-r4-core.uri
   hl7-fhir-us-core.value-set.us-core-usps-state
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Practitioner
   hl7-fhir-r4-core.Identifier
   hl7-fhir-r4-core.Address},
 schema
 {:zen.fhir/version "0.5.26-4",
  :confirms #{hl7-fhir-r4-core.Practitioner/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner",
  :require #{:name :identifier},
  :type zen/map,
  :zen/desc
  "This profile sets minimum expectations for the Practitioner resource to record, search, and fetch basic demographics and other administrative information about an individual practitioner to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies and value sets **SHALL** be present in the resource when using this profile.  It provides the floor for standards development for specific uses cases.",
  :keys
  {:identifier
   {:slicing
    {:slices
     {"NPI"
      {:schema {:type zen/vector, :maxItems 1},
       :filter
       {:engine :match,
        :match {:system "http://hl7.org/fhir/sid/us-npi"}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Identifier/schema},
     :type zen/map,
     :keys
     {:system
      {:confirms #{hl7-fhir-r4-core.uri/schema}, :fhir/flags #{:MS}},
      :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :value
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
     :require #{:system :value},
     :fhir/flags #{:MS}},
    :minItems 1},
   :name
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.HumanName/schema},
     :type zen/map,
     :keys
     {:family
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_family {:confirms #{hl7-fhir-r4-core.Element/schema}}},
     :require #{:family},
     :fhir/flags #{:MS}},
    :minItems 1},
   :telecom
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
     :type zen/map,
     :keys
     {:system
      {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
      :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :value
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
     :fhir/flags #{:MS}}},
   :address
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Address/schema},
     :type zen/map,
     :keys
     {:_line
      {:type zen/vector,
       :every {:confirms #{hl7-fhir-r4-core.Element/schema}}},
      :city
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_city {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :state
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-core.value-set.us-core-usps-state/value-set,
        :strength :extensible}},
      :_state {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :line
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.string/schema},
        :fhir/flags #{:MS}},
       :maxItems 4},
      :postalCode
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS},
       :zen/desc "US Zip Codes"},
      :_country {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :_postalCode {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :country
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}}},
     :fhir/flags #{:MS}}}},
  :zen.fhir/type "Practitioner"}}