{ns hl7-fhir-us-core.us-core-procedure,
 import
 #{hl7-fhir-r4-core.Period
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.dateTime
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-us-core.value-set.us-core-procedure-code
   hl7-fhir-r4-core.value-set.event-status
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Procedure
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen.fhir/version "0.5.21-8",
  :confirms #{hl7-fhir-r4-core.Procedure/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure",
  :require #{:performed :status :code :subject},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the Procedure resource for the minimal set of data to query and retrieve patient's procedure information.",
  :keys
  {:status
   {:confirms #{hl7-fhir-r4-core.code/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol hl7-fhir-r4-core.value-set.event-status/value-set,
     :strength :required}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :code
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-us-core.value-set.us-core-procedure-code/value-set,
     :strength :extensible},
    :zen/desc
    "Procedure codes from SNOMED CT, CPT, HCPCS II, ICD-10PC, or CDT"},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
   :performed
   {:fhir/polymorphic true,
    :exclusive-keys #{#{:dateTime :Period}},
    :type zen/map,
    :keys
    {:dateTime {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
     :_dateTime {:confirms #{hl7-fhir-r4-core.Element/schema}},
     :Period {:confirms #{hl7-fhir-r4-core.Period/schema}}},
    :fhir/flags #{:MS}}},
  :zen.fhir/type "Procedure"}}