{ns hl7-fhir-us-core.us-core-organization,
 import
 #{zen.fhir
   hl7-fhir-r4-core.ContactPoint
   hl7-fhir-r4-core.boolean
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.uri
   hl7-fhir-us-core.value-set.us-core-usps-state
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Identifier
   hl7-fhir-r4-core.Organization
   hl7-fhir-r4-core.Address},
 schema
 {:zen.fhir/version "0.5.21-6",
  :confirms #{hl7-fhir-r4-core.Organization/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization",
  :require #{:name :active},
  :type zen/map,
  :zen/desc
  "Defines basic constraints and extensions on the Organization resource for use with other US Core resources",
  :keys
  {:identifier
   {:slicing
    {:slices
     {"NPI"
      {:schema {:type zen/vector, :maxItems 1},
       :filter
       {:engine :match,
        :match {:system "http://hl7.org/fhir/sid/us-npi"}}},
      "CLIA"
      {:schema {:type zen/vector, :maxItems 1},
       :filter
       {:engine :match,
        :match {:system "urn:oid:2.16.840.1.113883.4.7"}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Identifier/schema},
     :type zen/map,
     :keys
     {:system
      {:confirms #{hl7-fhir-r4-core.uri/schema}, :fhir/flags #{:MS}},
      :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :value
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
     :fhir/flags #{:MS}}},
   :active
   {:confirms #{hl7-fhir-r4-core.boolean/schema}, :fhir/flags #{:MS}},
   :_active {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :name
   {:confirms #{hl7-fhir-r4-core.string/schema}, :fhir/flags #{:MS}},
   :_name {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :telecom
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
     :fhir/flags #{:MS}}},
   :address
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Address/schema},
     :type zen/map,
     :keys
     {:_line
      {:type zen/vector,
       :every {:confirms #{hl7-fhir-r4-core.Element/schema}}},
      :city
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_city {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :state
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-core.value-set.us-core-usps-state/value-set,
        :strength :extensible}},
      :_state {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :line
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.string/schema},
        :fhir/flags #{:MS}},
       :maxItems 4},
      :postalCode
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS},
       :zen/desc "US Zip Codes"},
      :_country {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :_postalCode {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :country
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}}},
     :fhir/flags #{:MS}}}},
  :zen.fhir/type "Organization"}}