{ns hl7-fhir-us-core.us-core-medicationrequest,
 import
 #{hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-us-core.value-set.us-core-medication-codes
   hl7-fhir-r4-core.boolean
   hl7-fhir-r4-core.dateTime
   hl7-fhir-r4-core.string
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-r4-core.MedicationRequest
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-r4-core.Dosage
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-us-core.us-core-medication
   hl7-fhir-r4-core.value-set.medicationrequest-intent
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.value-set.medicationrequest-status},
 schema
 {:zen.fhir/version "0.5.21-14",
  :confirms
  #{zen.fhir/Resource hl7-fhir-r4-core.MedicationRequest/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest",
  :require
  #{:authoredOn :requester :status :intent :subject :medication},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the MedicationRequest resource for the minimal set of data to query and retrieve prescription information.",
  :keys
  {:_authoredOn {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :encounter
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference {:refers #{}}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :reported
   {:fhir/polymorphic true,
    :exclusive-keys #{#{:boolean :Reference}},
    :type zen/map,
    :keys
    {:boolean {:confirms #{hl7-fhir-r4-core.boolean/schema}},
     :_boolean {:confirms #{hl7-fhir-r4-core.Element/schema}},
     :Reference
     {:confirms
      #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
      :zen.fhir/reference
      {:refers
       #{hl7-fhir-us-core.us-core-organization/schema
         hl7-fhir-us-core.us-core-patient/schema
         hl7-fhir-us-core.us-core-practitioner/schema}}}},
    :fhir/flags #{:MS}},
   :authoredOn
   {:confirms #{hl7-fhir-r4-core.dateTime/schema}, :fhir/flags #{:MS}},
   :_intent {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :requester
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-core.us-core-organization/schema
       hl7-fhir-us-core.us-core-patient/schema
       hl7-fhir-us-core.us-core-practitioner/schema}}},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-r4-core.value-set.medicationrequest-status/value-set,
     :strength :required}},
   :dosageInstruction
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Dosage/schema},
     :type zen/map,
     :keys
     {:text
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_text {:confirms #{hl7-fhir-r4-core.Element/schema}}},
     :fhir/flags #{:MS}}},
   :intent
   {:confirms #{hl7-fhir-r4-core.code/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-r4-core.value-set.medicationrequest-intent/value-set,
     :strength :required}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
   :medication
   {:fhir/polymorphic true,
    :exclusive-keys #{#{:CodeableConcept :Reference}},
    :type zen/map,
    :keys
    {:CodeableConcept
     {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
     :Reference
     {:confirms
      #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
      :zen.fhir/reference
      {:refers #{hl7-fhir-us-core.us-core-medication/schema}}}},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-us-core.value-set.us-core-medication-codes/value-set,
     :strength :extensible}}},
  :zen.fhir/type "MedicationRequest"}}