{ns hl7-fhir-us-core.us-core-questionnaireresponse,
 import
 #{hl7-fhir-r4-core.integer
   hl7-fhir-r4-core.Device
   hl7-fhir-r4-core.decimal
   hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.time
   hl7-fhir-r4-core.canonical
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-r4-core.boolean
   hl7-fhir-r4-core.dateTime
   hl7-fhir-us-core.us-core-relatedperson
   hl7-fhir-r4-core.string
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-r4-core.Coding
   hl7-fhir-r4-core.date
   hl7-fhir-r4-core.PractitionerRole
   hl7-fhir-r4-core.Quantity
   hl7-fhir-uv-sdc.sdc-questionnaireresponse
   hl7-fhir-r4-core.uri
   hl7-fhir-us-core.us-core-extension-questionnaire-uri
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Attachment
   hl7-fhir-r4-core.Element},
 schema
 {:zen.fhir/version "0.5.26-2",
  :confirms
  #{zen.fhir/Resource
    hl7-fhir-uv-sdc.sdc-questionnaireresponse/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-questionnaireresponse",
  :require #{:subject},
  :type zen/map,
  :zen/desc
  "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the QuestionnaireResponse resource to record, search, and fetch retrieve captures the responses to form/survey and assessment tools such as the *Protocol for Responding to and Assessing Patients’ Assets, Risks, and Experiences (PRAPARE) Survey*.   This profile is based on the [Structured Data Capture (SDC) Questionnaire Response Profile](http://hl7.org/fhir/uv/sdc/STU3/StructureDefinition-sdc-questionnaireresponse.html) and identifies the *additional* core elements, extensions, vocabularies and value sets **SHALL** be present in the resource when using this profile. It provides the floor for standards development for specific uses cases.",
  :keys
  {:questionnaire
   {:confirms #{hl7-fhir-r4-core.canonical/schema},
    :fhir/flags #{:MS}},
   :meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:tag
     {:slicing
      {:slices
       {"sdoh"
        {:schema {:type zen/vector, :maxItems 1},
         :filter
         {:engine :match,
          :match
          {:system
           "http://hl7.org/fhir/us/core/CodeSystem/us-core-tags",
           :code "sdoh"}}}}},
      :type zen/vector,
      :every
      {:confirms #{hl7-fhir-r4-core.Coding/schema},
       :type zen/map,
       :keys
       {:code {:confirms #{hl7-fhir-r4-core.code/schema}},
        :_code {:confirms #{hl7-fhir-r4-core.Element/schema}}},
       :require #{:code},
       :fhir/flags #{:MS}}}},
    :fhir/flags #{:MS}},
   :item
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:linkId
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_linkId {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :answer
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
        :type zen/map,
        :keys
        {:value
         {:fhir/polymorphic true,
          :exclusive-keys
          #{#{:date
              :time
              :string
              :dateTime
              :integer
              :decimal
              :Attachment
              :Coding
              :uri
              :Quantity
              :boolean
              :Reference}},
          :type zen/map,
          :keys
          {:_decimal {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :date {:confirms #{hl7-fhir-r4-core.date/schema}},
           :_uri {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :_date {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :_dateTime {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :time {:confirms #{hl7-fhir-r4-core.time/schema}},
           :string {:confirms #{hl7-fhir-r4-core.string/schema}},
           :dateTime {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
           :_time {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :integer {:confirms #{hl7-fhir-r4-core.integer/schema}},
           :_boolean {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :decimal {:confirms #{hl7-fhir-r4-core.decimal/schema}},
           :Attachment
           {:confirms #{hl7-fhir-r4-core.Attachment/schema}},
           :Coding {:confirms #{hl7-fhir-r4-core.Coding/schema}},
           :_integer {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :uri {:confirms #{hl7-fhir-r4-core.uri/schema}},
           :Quantity {:confirms #{hl7-fhir-r4-core.Quantity/schema}},
           :boolean {:confirms #{hl7-fhir-r4-core.boolean/schema}},
           :_string {:confirms #{hl7-fhir-r4-core.Element/schema}},
           :Reference
           {:confirms
            #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
            :zen.fhir/reference {:refers #{}}}},
          :fhir/flags #{:MS}}}}}},
     :fhir/flags #{:MS}}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :_authored {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :author
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-core.us-core-organization/schema
       hl7-fhir-us-core.us-core-relatedperson/schema
       hl7-fhir-r4-core.PractitionerRole/schema
       hl7-fhir-us-core.us-core-patient/schema
       hl7-fhir-r4-core.Device/schema
       hl7-fhir-us-core.us-core-practitioner/schema}}},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
   :authored
   {:confirms #{hl7-fhir-r4-core.dateTime/schema}, :fhir/flags #{:MS}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
   :_questionnaire
   {:confirms #{hl7-fhir-r4-core.Element/schema},
    :type zen/map,
    :keys
    {:url
     {:confirms
      #{hl7-fhir-us-core.us-core-extension-questionnaire-uri/schema},
      :fhir/extensionUri
      "http://hl7.org/fhir/us/core/StructureDefinition/us-core-extension-questionnaire-uri",
      :fhir/flags #{:MS}}}}},
  :zen.fhir/type "QuestionnaireResponse"}}