{ns hl7-fhir-us-core.us-core-allergyintolerance,
 import
 #{hl7-fhir-r4-core.BackboneElement
   zen.fhir
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-r4-core.value-set.allergyintolerance-clinical
   hl7-fhir-r4-core.AllergyIntolerance
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.value-set.allergyintolerance-verification
   hl7-fhir-r4-core.CodeableConcept
   us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1186.8
   hl7-fhir-r4-core.value-set.clinical-findings},
 schema
 {:zen.fhir/version "0.6.1",
  :confirms
  #{zen.fhir/Resource hl7-fhir-r4-core.AllergyIntolerance/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance",
  :require #{:code},
  :type zen/map,
  :zen/desc
  "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the AllergyIntolerance resource to record, search, and fetch allergies/adverse reactions associated with a patient pm2.  It identifies the mandatory core elements, extensions, vocabularies and value sets which **SHALL** be present in the AllergyIntolerance resource when using this profile. It provides the floor for standards development for specific uses cases.",
  :keys
  {:clinicalStatus
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-r4-core.value-set.allergyintolerance-clinical/value-set,
     :strength :required}},
   :verificationStatus
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-r4-core.value-set.allergyintolerance-verification/value-set,
     :strength :required}},
   :code
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1186.8/value-set,
     :strength :extensible}},
   :patient
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
   :reaction
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:manifestation
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
        :fhir/flags #{:MS},
        :zen.fhir/value-set
        {:symbol
         hl7-fhir-r4-core.value-set.clinical-findings/value-set,
         :strength :extensible}}}},
     :fhir/flags #{:MS}}}},
  :zen.fhir/type "AllergyIntolerance"}}