{ns hl7-fhir-us-core.us-core-encounter,
 import #{hl7-fhir-r4-core.Observation
          hl7-fhir-us-core.value-set.us-core-discharge-disposition
          hl7-fhir-r4-core.ImmunizationRecommendation
          zen.fhir
          hl7-fhir-us-core.us-core-practitioner
          hl7-fhir-us-core.us-core-condition-encounter-diagnosis
          hl7-fhir-us-core.us-core-relatedperson
          hl7-fhir-us-core.us-core-organization
          hl7-fhir-us-core.us-core-patient
          hl7-fhir-us-core.us-core-procedure
          hl7-fhir-us-core.value-set.us-core-encounter-type
          hl7-fhir-r4-core.Encounter
          hl7-fhir-us-core.us-core-condition-problems-health-concerns
          hl7-fhir-us-core.us-core-practitionerrole},
 schema {:zen.fhir/version "0.6.17-2",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Encounter/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter",
         :require #{:type :subject},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for the Encounter resource to record, search, and fetch basic encounter information for an individual patient to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies and value sets **SHALL** be present in the resource when using this profile.  It provides the floor for standards development for specific uses cases.",
         :keys {:serviceProvider {:fhir/flags #{:MS},
                                  :confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-organization/schema}}},
                :reasonCode {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :type {:type zen/vector,
                       :every {:fhir/flags #{:MS},
                               :zen.fhir/value-set {:symbol hl7-fhir-us-core.value-set.us-core-encounter-type/value-set,
                                                    :strength :extensible}},
                       :minItems 1},
                :participant {:type zen/vector,
                              :every {:type zen/map,
                                      :keys {:type {:type zen/vector,
                                                    :every {:fhir/flags #{:MS}}},
                                             :period {:fhir/flags #{:MS}},
                                             :individual {:fhir/flags #{:MS},
                                                          :confirms #{zen.fhir/Reference},
                                                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-practitionerrole/schema
                                                                                         hl7-fhir-us-core.us-core-relatedperson/schema
                                                                                         hl7-fhir-us-core.us-core-practitioner/schema}}}},
                                      :fhir/flags #{:MS}}},
                :status {:fhir/flags #{:MS}},
                :class {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS}},
                                            :value {:fhir/flags #{:MS}}},
                                     :require #{:system :value},
                                     :fhir/flags #{:MS}}},
                :hospitalization {:type zen/map,
                                  :keys {:dischargeDisposition {:fhir/flags #{:MS},
                                                                :zen.fhir/value-set {:symbol hl7-fhir-us-core.value-set.us-core-discharge-disposition/value-set,
                                                                                     :strength :preferred}}},
                                  :fhir/flags #{:MS}},
                :period {:fhir/flags #{:MS}},
                :location {:type zen/vector,
                           :every {:type zen/map,
                                   :keys {:location {:fhir/flags #{:MS},
                                                     :confirms #{zen.fhir/Reference},
                                                     :zen.fhir/reference {:refers #{}}}},
                                   :fhir/flags #{:MS}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
                :reasonReference {:type zen/vector,
                                  :every {:fhir/flags #{:MS},
                                          :confirms #{zen.fhir/Reference},
                                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-condition-encounter-diagnosis/schema
                                                                         hl7-fhir-r4-core.Observation/schema
                                                                         hl7-fhir-us-core.us-core-condition-problems-health-concerns/schema
                                                                         hl7-fhir-r4-core.ImmunizationRecommendation/schema
                                                                         hl7-fhir-us-core.us-core-procedure/schema}}}}},
         :zen.fhir/type "Encounter"}}
