{ns hl7-fhir-us-core.us-core-observation-sdoh-assessment,
 import #{hl7-fhir-us-core.value-set.us-core-common-sdoh-assessments
          zen.fhir
          hl7-fhir-us-core.us-core-observation-survey
          hl7-fhir-us-core.us-core-observation-sdoh-assessment},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "The US Core Observation SDOH Assessment Profile meets the U.S. Core Data for Interoperability (USCDI) v2 'SDOH Assessments' requirements.  This profile is based on the US Core Observation Survey Profile and sets minimum expectations for representing responses to assessment tools such as the *Protocol for Responding to and Assessing Patients’ Assets, Risks, and Experiences (PRAPARE) Survey*.  It can be used to represent individual responses, panels of multi-question surveys, and multi-select responses to “check all that apply” questions. It identifies the *additional* core elements, extensions, vocabularies and value sets which SHALL be present in the Observation resource when using this profile. It provides the floor for standards development for specific uses cases.",
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-sdoh-assessment",
         :zen.fhir/version "0.6.7-5",
         :confirms #{hl7-fhir-us-core.us-core-observation-survey/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:zen.fhir/value-set {:symbol hl7-fhir-us-core.value-set.us-core-common-sdoh-assessments/value-set,
                                            :strength :preferred}},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-observation-sdoh-assessment/schema}},
                                    :zen/desc "Individual Observations that belong to an SDOH multi-question sruvey or multi-select question."}}}}}
