{ns hl7-fhir-us-core.us-core-diagnosticreport-note,
 import
 #{hl7-fhir-r4-core.Period
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-r4-core.dateTime
   hl7-fhir-r4-core.DiagnosticReport
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-r4-core.instant
   hl7-fhir-us-core.value-set.us-core-diagnosticreport-report-and-note-codes
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-r4-core.value-set.diagnostic-report-status
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Attachment
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-us-core.us-core-encounter
   hl7-fhir-us-core.value-set.us-core-diagnosticreport-category},
 schema
 {:zen.fhir/version "0.5.21-8",
  :confirms
  #{hl7-fhir-r4-core.DiagnosticReport/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note",
  :require #{:category :status :effective :code :subject},
  :type zen/map,
  :zen/desc
  "Defines constraints and extensions on the DiagnosticReport resource  for the minimal set of data to query and retrieve diagnostic reports associated with clinical notes for a patient",
  :keys
  {:category
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-core.value-set.us-core-diagnosticreport-category/value-set,
      :strength :extensible}},
    :minItems 1},
   :_issued {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :encounter
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-encounter/schema}}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-r4-core.value-set.diagnostic-report-status/value-set,
     :strength :required}},
   :effective
   {:fhir/polymorphic true,
    :exclusive-keys #{#{:dateTime :Period}},
    :type zen/map,
    :keys
    {:dateTime {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
     :_dateTime {:confirms #{hl7-fhir-r4-core.Element/schema}},
     :Period {:confirms #{hl7-fhir-r4-core.Period/schema}}},
    :fhir/flags #{:MS},
    :zen/desc "Time of the report or note"},
   :code
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-us-core.value-set.us-core-diagnosticreport-report-and-note-codes/value-set,
     :strength :extensible},
    :zen/desc "US Core Report Code"},
   :issued
   {:confirms #{hl7-fhir-r4-core.instant/schema}, :fhir/flags #{:MS}},
   :presentedForm
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Attachment/schema},
     :fhir/flags #{:MS}}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:SU :MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-core.us-core-patient/schema}},
    :zen/desc
    "The subject of the report - usually, but not always, the patient"},
   :performer
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-core.us-core-organization/schema
        hl7-fhir-us-core.us-core-practitioner/schema}}}}},
  :zen.fhir/type "DiagnosticReport"}}