{ns hl7-fhir-us-core.us-core-relatedperson,
 import #{zen.fhir
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-us-core.us-core-patient},
 schema {:zen.fhir/version "0.6.24",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.RelatedPerson/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-relatedperson",
         :require #{:active},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for the RelatedPerson resource to record, search, and fetch related persons associated with a patient to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies and value sets **SHALL** be present in the resource when using this profile.  It provides the floor for standards development for specific uses cases.",
         :keys {:active {:fhir/flags #{:MS}},
                :patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
                :relationship {:type zen/vector,
                               :every {:fhir/flags #{:MS}}},
                :name {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :address {:type zen/vector,
                          :every {:fhir/flags #{:MS}}}},
         :zen.fhir/type "RelatedPerson"}}
