{ns hl7-fhir-us-core.us-core-blood-pressure,
 import #{zen.fhir hl7-fhir-us-core.us-core-vital-signs},
 schema {:zen.fhir/version "0.6.29",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-us-core.us-core-vital-signs/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-blood-pressure",
         :require #{:component},
         :type zen/map,
         :zen/desc "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the Observation resource to record, search, and fetch diastolic and systolic blood pressure observations with standard LOINC codes and UCUM units of measure. It is based on the US Core Vital Signs Profile and identifies the *additional* mandatory core elements, extensions, vocabularies and value sets which **SHALL** be present in the Observation resource when using this profile. It provides the floor for standards development for specific uses cases.",
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "85354-9"}}},
                       :fhir/flags #{:MS},
                       :zen/desc "Blood Pressure"},
                :component {:type zen/vector,
                            :slicing {:slices {"systolic" {:schema {:type zen/vector,
                                                                    :minItems 1,
                                                                    :maxItems 1,
                                                                    :every {:type zen/map,
                                                                            :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                             :code "8480-6"}}},
                                                                                          :fhir/flags #{:MS},
                                                                                          :zen/desc "Systolic Blood Pressure Code"},
                                                                                   :value {:type zen/map,
                                                                                           :keys {:Quantity {:type zen/map,
                                                                                                             :keys {:value {:fhir/flags #{:MS}},
                                                                                                                    :unit {:fhir/flags #{:MS}},
                                                                                                                    :system {:const {:value "http://unitsofmeasure.org"},
                                                                                                                             :fhir/flags #{:MS}},
                                                                                                                    :code {:const {:value "mm[Hg]"},
                                                                                                                           :fhir/flags #{:MS}}},
                                                                                                             :require #{:system
                                                                                                                        :unit
                                                                                                                        :value
                                                                                                                        :code},
                                                                                                             :fhir/flags #{:MS}}}}},
                                                                            :require #{:code}}},
                                                           :filter {:engine :match,
                                                                    :match {:code {:coding #{{:system "http://loinc.org",
                                                                                              :code "8480-6"}}}}}},
                                               "diastolic" {:schema {:type zen/vector,
                                                                     :minItems 1,
                                                                     :maxItems 1,
                                                                     :every {:type zen/map,
                                                                             :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                              :code "8462-4"}}},
                                                                                           :fhir/flags #{:MS},
                                                                                           :zen/desc "Diastolic Blood Pressure Code"},
                                                                                    :value {:type zen/map,
                                                                                            :keys {:Quantity {:type zen/map,
                                                                                                              :keys {:value {:fhir/flags #{:MS}},
                                                                                                                     :unit {:fhir/flags #{:MS}},
                                                                                                                     :system {:const {:value "http://unitsofmeasure.org"},
                                                                                                                              :fhir/flags #{:MS}},
                                                                                                                     :code {:const {:value "mm[Hg]"},
                                                                                                                            :fhir/flags #{:MS}}},
                                                                                                              :require #{:system
                                                                                                                         :unit
                                                                                                                         :value
                                                                                                                         :code},
                                                                                                              :fhir/flags #{:MS}}}}},
                                                                             :require #{:code}}},
                                                            :filter {:engine :match,
                                                                     :match {:code {:coding #{{:system "http://loinc.org",
                                                                                               :code "8462-4"}}}}}}}},
                            :every {:fhir/flags #{:MS}},
                            :minItems 2}},
         :zen.fhir/type "Observation"}}
