{ns hl7-fhir-us-core,
 import
 #{hl7-fhir-us-core.search.us-core-immunization-status
   hl7-fhir-us-core.search.us-core-procedure-date
   hl7-fhir-us-core.us-core-diagnosticreport-lab
   hl7-fhir-us-core.us-core-allergyintolerance
   hl7-fhir-us-core.us-core-smokingstatus
   hl7-fhir-us-core.us-core-condition
   hl7-fhir-us-core.search.us-core-goal-patient
   hl7-fhir-us-core.search.us-core-medicationrequest-patient
   hl7-fhir-us-core.search.us-core-condition-onset-date
   hl7-fhir-us-core.search.us-core-condition-category
   hl7-fhir-us-core.value-set.us-core-documentreference-type
   hl7-fhir-us-core.us-core-birthsex
   hl7-fhir-us-core.us-core-diagnosticreport-note
   hl7-fhir-us-core.search.us-core-careplan-date
   hl7-fhir-us-core.search.us-core-careplan-category
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-us-core.search.us-core-organization-address
   hl7-fhir-us-core.search.us-core-organization-name
   hl7-fhir-us-core.value-set.us-core-diagnosticreport-lab-codes
   hl7-fhir-us-core.search.us-core-diagnosticreport-patient
   hl7-fhir-us-core.value-set.us-core-careteam-provider-roles
   hl7-fhir-us-core.search.us-core-condition-clinical-status
   hl7-fhir-us-core.value-set.us-core-provider-role
   hl7-fhir-us-core.value-set.us-core-observation-smokingstatus-max
   hl7-fhir-us-core.search.us-core-medicationrequest-authoredon
   hl7-fhir-us-core.value-set.omb-race-category
   hl7-fhir-us-core.search.us-core-careteam-patient
   hl7-fhir-us-core.search.us-core-observation-code
   hl7-fhir-r4-core
   hl7-fhir-us-core.search.us-core-documentreference-id
   hl7-fhir-us-core.search.us-core-observation-category
   hl7-fhir-us-core.search.us-core-patient-name
   hl7-fhir-us-core.value-set.us-core-medication-codes
   hl7-fhir-us-core.us-core-race
   hl7-fhir-us-core.us-core-implantable-device
   hl7-fhir-us-core.search.us-core-diagnosticreport-date
   hl7-fhir-us-core.search.us-core-procedure-patient
   hl7-fhir-us-core.search.us-core-diagnosticreport-code
   hl7-fhir-us-core.search.us-core-allergyintolerance-patient
   hl7-fhir-us-core.search.us-core-patient-family
   hl7-fhir-us-core.value-set.us-core-ndc-vaccine-codes
   hl7-fhir-us-core.search.us-core-practitionerrole-specialty
   hl7-fhir-us-core.value-set.us-core-observation-smokingstatus
   hl7-fhir-us-core.search.us-core-patient-identifier
   hl7-fhir-us-core.us-core-immunization
   hl7-fhir-us-core.value-set.us-core-condition-code
   hl7-fhir-us-core.search.us-core-documentreference-status
   hl7-fhir-us-core.search.us-core-location-address-postalcode
   hl7-fhir-us-core.value-set.us-core-observation-value-codes
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-us-core.value-set.us-core-provider-specialty
   hl7-fhir-us-core.value-set.omb-ethnicity-category
   hl7-fhir-us-core.value-set.us-core-documentreference-category
   hl7-fhir-us-core.value-set.us-core-diagnosticreport-report-and-note-codes
   hl7-fhir-us-core.search.us-core-location-name
   hl7-fhir-us-core.search.us-core-medicationrequest-status
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-us-core.search.us-core-documentreference-category
   hl7-fhir-us-core.search.us-core-observation-patient
   hl7-fhir-us-core.us-core-pulse-oximetry
   hl7-fhir-us-core.search.us-core-goal-target-date
   hl7-fhir-us-core.search.us-core-goal-lifecycle-status
   hl7-fhir-us-core.us-core-procedure
   hl7-fhir-us-core.search.us-core-procedure-code
   hl7-fhir-us-core.search.us-core-practitioner-name
   hl7-fhir-us-core.search.us-core-medicationrequest-encounter
   hl7-fhir-us-core.search.us-core-condition-patient
   hl7-fhir-us-core.us-core-direct
   hl7-fhir-us-core.search.us-core-observation-date
   hl7-fhir-us-core.value-set.us-core-encounter-type
   hl7-fhir-us-core.us-core-careplan
   hl7-fhir-us-core.search.us-core-allergyintolerance-clinical-status
   hl7-fhir-us-core.value-set.us-core-procedure-code
   hl7-fhir-us-core.value-set.us-core-allergy-substance
   hl7-fhir-us-core.value-set.detailed-ethnicity
   hl7-fhir-us-core.value-set.us-core-usps-state
   hl7-fhir-us-core.us-core-observation-lab
   hl7-fhir-us-core.search.us-core-encounter-date
   hl7-fhir-us-core.search.us-core-race
   hl7-fhir-us-core.search.us-core-location-address-city
   hl7-fhir-us-core.search.us-core-documentreference-date
   hl7-fhir-us-core.search.us-core-practitionerrole-practitioner
   hl7-fhir-us-core.value-set.us-core-procedure-icd10pcs
   hl7-fhir-us-core.value-set.birthsex
   hl7-fhir-us-core.search.us-core-device-type
   hl7-fhir-us-core.search.us-core-ethnicity
   hl7-fhir-us-core.search.us-core-patient-id
   hl7-fhir-us-core.search.us-core-careplan-status
   hl7-fhir-us-core.value-set.simple-language
   hl7-fhir-us-core.search.us-core-diagnosticreport-category
   hl7-fhir-us-core.search.us-core-patient-given
   hl7-fhir-us-core.search.us-core-immunization-date
   hl7-fhir-us-core.search.us-core-patient-birthdate
   hl7-fhir-us-core.search.us-core-location-address-state
   hl7-fhir-us-core.search.us-core-careplan-patient
   hl7-fhir-us-core.search.us-core-encounter-id
   hl7-fhir-us-core.search.us-core-observation-status
   hl7-fhir-us-core.us-core-medication
   hl7-fhir-us-core.search.us-core-encounter-class
   hl7-fhir-us-core.search.us-core-practitioner-identifier
   hl7-fhir-us-core.value-set.us-core-smoking-status-observation-codes
   hl7-fhir-us-core.search.us-core-documentreference-period
   hl7-fhir-us-core.value-set.detailed-race
   hl7-fhir-us-core.value-set.us-core-observation-smoking-status-status
   hl7-fhir-us-core.search.us-core-condition-code
   hl7-fhir-us-core.search.us-core-immunization-patient
   hl7-fhir-us-core.head-occipital-frontal-circumference-percentile
   hl7-fhir-us-core.search.us-core-location-address
   hl7-fhir-us-core.us-core-ethnicity
   hl7-fhir-us-core.search.us-core-encounter-identifier
   hl7-fhir-us-core.search.us-core-patient-gender
   hl7-fhir-us-core.value-set.us-core-provenance-participant-type
   hl7-fhir-us-core.us-core-goal
   hl7-fhir-us-core.us-core-careteam
   hl7-fhir-us-core.value-set.us-core-condition-category
   hl7-fhir-us-core.us-core-location
   hl7-fhir-us-core.search.us-core-procedure-status
   hl7-fhir-us-core.us-core-provenance
   hl7-fhir-us-core.search.us-core-documentreference-type
   hl7-fhir-us-core.value-set.us-core-vaccines-cvx
   hl7-fhir-us-core.us-core-encounter
   hl7-fhir-us-core.us-core-documentreference
   hl7-fhir-us-core.us-core-practitionerrole
   hl7-fhir-us-core.pediatric-bmi-for-age
   hl7-fhir-us-core.search.us-core-device-patient
   hl7-fhir-us-core.search.us-core-medicationrequest-intent
   hl7-fhir-us-core.search.us-core-careteam-status
   hl7-fhir-us-core.value-set.us-core-clinical-note-type
   hl7-fhir-us-core.value-set.us-core-diagnosticreport-category
   hl7-fhir-us-core.search.us-core-encounter-patient
   hl7-fhir-us-core.value-set.us-core-narrative-status
   hl7-fhir-us-core.search.us-core-diagnosticreport-status
   hl7-fhir-us-core.search.us-core-encounter-status
   hl7-fhir-us-core.us-core-medicationrequest
   hl7-fhir-us-core.pediatric-weight-for-height
   hl7-fhir-us-core.search.us-core-documentreference-patient
   hl7-fhir-us-core.search.us-core-encounter-type}}