{ns hl7-fhir-us-core.value-set.us-core-survey-codes,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set includes all LOINC values whose CLASSTYPE is SURVEY in the LOINC database (Refer to [Appendix A](https://loinc.org/kb/users-guide/loinc-database-structure/) of LOINC Users' Guide)",
  :zen.fhir/version "0.5.26",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :not-present}},
  :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-survey-codes",
  :version "5.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.core",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-us-core",
   :tag "init"}}}