{ns hl7-fhir-us-core.value-set.us-core-medication-codes,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "All prescribable medication formulations represented using  either a 'generic' or 'brand-specific' concept. This includes RxNorm codes whose Term Type is SCD (semantic clinical drug), SBD (semantic brand drug), GPCK (generic pack), BPCK (brand pack), SCDG (semantic clinical drug group), SBDG (semantic brand drug group), SCDF (semantic clinical drug form), or SBDF (semantic brand drug form)",
  :zen.fhir/version "0.5.21-14",
  :fhir/code-systems
  #{{:fhir/url "http://www.nlm.nih.gov/research/umls/rxnorm",
     :zen.fhir/content :not-present}},
  :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-medication-codes",
  :version "3.1.1"}}