{ns hl7-fhir-us-core.value-set.us-core-diagnosticreport-category,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "The US Core Diagnostic Report Category Value Set is a 'starter set' of categories supported for fetching and Diagnostic Reports and notes.",
  :zen.fhir/version "0.5.21-10",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/core/ValueSet/us-core-diagnosticreport-category",
  :version "3.1.1"}}