{ns hl7-fhir-us-core.value-set.us-core-observation-smokingstatus,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set enumerates a preferred set of SNOMED CT codes historically used for the current smoking status of a patient.",
  :zen.fhir/version "0.5.21-11",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/core/ValueSet/us-core-observation-smokingstatus",
  :version "3.1.1"}}