{ns hl7-fhir-us-core.value-set.us-core-observation-value-codes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "[Snomed-CT](http://www.ihtsdo.org/) concept codes for coded results",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-observation-value-codes",
            :version "5.0.1",
            :ftr {:module "hl7-fhir-us-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
