{ns hl7-fhir-us-core.value-set.us-core-clinical-note-type,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "The US Core Clinical Note Type Value Set is a 'starter set' of types supported for fetching and storing clinical notes.",
  :zen.fhir/version "0.5.21-10",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/core/ValueSet/us-core-clinical-note-type",
  :version "3.1.1"}}