{ns hl7-fhir-us-core.value-set.us-core-provider-specialty,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Provider speciality roles codes which are composed of the NUCC Health Care Provider Taxonomy Code Set for providers",
  :zen.fhir/version "0.5.21-11",
  :fhir/code-systems
  #{{:fhir/url "http://nucc.org/provider-taxonomy",
     :zen.fhir/content :not-present}},
  :uri
  "http://hl7.org/fhir/us/core/ValueSet/us-core-provider-specialty",
  :version "3.1.1"}}