{ns hl7-fhir-us-core.value-set.us-core-allergy-substance,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Documentation of substances suspected of (or not suspected of) causing an allergy or intolerance reaction in an individual. **Inclusion Criteria:** specific or general substances to which a patient may be exposed and which may be suspected of causing an adverse reaction; assertions refuting these suspicions. This includes:\n\n 1. Common dietary substances for allergy and intolerance documentation (SNOMEDCT)\n 2. Common drug classes for allergy and intolerance documentation (SNOMEDCT)\n 3. Common drug substances for allergy and intolerance documentation (RXNORM)\n 4. Common environmental substances for allergy and intolerance documentation (SNOMEDCT)\n 5. Common refutations and null values for substance causes for allergy and intolerance documentation (SNOMEDCT)\n\n  **Exclusion Criteria:** actual conditions caused by exposure (reactions, allergies)\n",
  :zen.fhir/version "0.5.21-7",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url "http://www.nlm.nih.gov/research/umls/rxnorm",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/core/ValueSet/us-core-allergy-substance",
  :version "3.1.1"}}