{ns hl7-fhir-us-core.value-set.us-core-vaccines-cvx,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This identifies the vaccine substance administered - CVX codes. **Inclusion Criteria:**  Any CVX code with CVX  'status' (VSAC Property) = `Active`,` Inactive`, `Non-US` except  those noted in exclusions.  **Exclusion Criteria:**  CVX codes that have a CVX  'status' of either `Pending` or `Never Active` AND CVX  codes with CVX 'Nonvaccine' property = True.  Available at http://www2a.cdc.gov/vaccines/iis/iisstandards/vaccines.asp?rpt=cvx",
  :zen.fhir/version "0.5.21-14",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/sid/cvx",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-vaccines-cvx",
  :version "3.1.1"}}