{ns hl7-fhir-us-core.search.us-core-patient-gender-identity,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "us-core-patient-gender-identity",
  :fhir/url
  "http://hl7.org/fhir/us/core/SearchParameter/us-core-patient-gender-identity",
  :fhir/type "token",
  :name "gender-identity",
  :expr
  {:Patient
   {:knife [], :jsonpath [], :data-types #{}, :template :token}}}}